<style>
	aside {
		width: 0;
		overflow: hidden;
		height: 0;
	}
	.content {
		left: 0;
	}
	html, body, .content, .content > section {
		height: 100%;
	}
	.home {
		background-color: #F8CB4B;
	}
</style>
<div class="home">
	<div class="home-bg"></div>
	<div class="home-masthead container-fluid">
		<div class="pull-right" data-ng-show="authentication.user._id.length">
			<a href=""><i class="fa fa-power-off"></i></a>
		</div>
		<div class="row text-center">
			<h1>PaperBits</h1>
			<h2>Creative people's scrap board<br>To keep bits of paper on the web!</h2>
			<div class="login-btn">
				<a href="/#!/signin" class="btn">Login/Register</a>
			</div>
			<div class="scroll-arrow"><i class="fa fa-chevron-down fa-4x"></i></div>
		</div>
	</div>
</div>
<div class="home-features">
	<div class="container-fluid">
		<div class="row text-center">
			<h2>Features</h2>
			<p class="features-main">PaperBits provides a solution to save the bits of inspirations on the web for the creative people. A board where you can store colors, images, notes, reference urls and also sticky notes for noting down important tasks.</p>
		</div>
	</div>
	<div class="feature-container">
		<div class="col-sm-6 col-xs-12 col-xs-push-0">
			<img src="modules/core/img/features/colors.jpg" alt="Colors">
		</div>
		<div class="col-sm-6 col-xs-12 col-xs-pull-0">
			<h3>Colors</h3>
			<ul>
				<li>Store random values from color picker extension/add-ons</li>
				<li>Automatic detection and color space conversion (hex, rgb, hsl)</li>
				<li>Look for combinations from saved colors</li>
			</ul>
		</div>
	</div>
	<div class="feature-container">
		<div class="col-sm-5 col-sm-offset-1 col-xs-12">
			<h3>Images</h3>
			<ul>
				<li>Moodboard with random inspirational images</li>
				<li>Tags to categorize images (to be implemented)</li>
			</ul>
		</div>
		<div class="col-sm-6 col-xs-12">
			<img src="modules/core/img/features/images.jpg" alt="Images">
		</div>
	</div>
	<div class="feature-container">
		<div class="col-sm-6 col-xs-12">
			<img src="modules/core/img/features/links.jpg" alt="Links">
		</div>
		<div class="col-sm-6 col-xs-12">
			<h3>Links</h3>
			<ul>
				<li>Links to references or read-it-later articles</li>
				<li>Better than bookmarks as it provides website preview</li>
				<li>Delete easily after reading</li>
				<li>Tagged categories (to be implemented)</li>
			</ul>
		</div>
	</div>
	<div class="feature-container">
		<div class="col-sm-5 col-sm-offset-1 col-xs-12">
			<h3>Notes</h3>
			<ul>
				<li>Quick notes for code help/conference notes/reference snippets etc.</li>
				<li>Easy edit and save</li>
				<li>Categorize as notebooks (to be implemented)</li>
			</ul>
		</div>
		<div class="col-sm-6 col-xs-12">
			<img src="modules/core/img/features/notes.jpg" alt="Notes">
		</div>
	</div>
	<div class="feature-container">
		<div class="col-sm-6 col-xs-12">
			<img src="modules/core/img/features/todo.jpg" alt="Todo">
		</div>
		<div class="col-sm-6 col-xs-12">
			<h3>Todo</h3>
			<ul>
				<li>Todo task lists as simple as a sticky note!</li>
				<li>Task lists are colored based on priority</li>
				<li>Sort tasks based on priority &amp; date.</li>
			</ul>
		</div>
	</div>
</div>
<div class="source-btn">
	<a href="https://github.com/Praseetha-KR/paperbits" target="_blank" class="btn"><i class="fa fa-github"></i>&nbsp;&nbsp;Source code</a>
</div>
<h5 class="text-center">Created with &hearts; by <a target="_blank" href="https://twitter.com/void_imagineer">@void_imagineer</a></h5>
