* {
	box-sizing: border-box;
}
.content {
	position: absolute;
	left: 80px;
	right: 0;
	top: 0;
	bottom: 0;
	overflow-y: scroll;
	/*background-color: yellow;*/

}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}
body {
	/*background-image: url('../img/background/bgnoise_lg.png');*/
	background-color: #edeff0;
}
.navbar-default {
	background-image: none;
	background-color: #16191A;
	border-color: #F0F0F0;
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,.2),0 2px 7px rgba(0,0,0,.15);
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2),0 2px 7px rgba(0,0,0,.15);
	box-shadow: 0 1px 0 rgba(0,0,0,.2),0 2px 7px rgba(0,0,0,.15); 
	min-height: 100px;
}
.navbar-default .navbar-nav > li > a {
	margin-top: 49px;
}
.navbar-default .navbar-nav:first-child > li:first-child > a {
	background-color: orange;
}
.navbar-default .navbar-nav:first-child > li:nth-child(2) > a {
	background-color: lightgreen;
}
.navbar-default .navbar-nav:first-child > li:nth-child(3) > a {
	background-color: pink;
}
a.list-group-item.sticky-note {
	background-color: lightyellow;
}
a.list-group-item.sticky-note:hover, a.list-group-item.sticky-note:focus {
	background-color: yellow;
}
/* sidebar */
.sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 80px;
	background-color: #3e474f;
}
.sidebar a {
	color: #8C989E;
}
.sidebar .nav li {
	width: 100%;
}
.sidebar .nav li a{
	text-align: center;
	font-weight: 100;
}
.sidebar .nav li.active a{
	background-color: #2e353b;
	color: #FFF;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: #3e474f;
}
.navbar-brand, .navbar-nav > li > a {
	text-shadow: none;
}

.btn-yellow {
	background-color: #F8CB4B;
	color: #333;
	padding-left: 1.5em;
	padding-right: 1.5em;
}
.material {
	box-shadow: none;
	-webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
	-moz-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
	-o-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
	transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.material:hover, .material:focus, .material:active {
	-webkit-box-shadow: 0 6px 10px rgba(0,0,0,0.23), 0 10px 30px rgba(0,0,0,0.19);
	-moz-box-shadow: 0 6px 10px rgba(0,0,0,0.23), 0 10px 30px rgba(0,0,0,0.19);
	-o-box-shadow: 0 6px 10px rgba(0,0,0,0.23), 0 10px 30px rgba(0,0,0,0.19);
	box-shadow: 0 6px 10px rgba(0,0,0,0.23), 0 10px 30px rgba(0,0,0,0.19);
	outline: none;
}

/*
	Form
*/

.material-form .form-group {
	position: relative;
	margin-bottom: 1.5em;
}
.material-form .form-group input[type="text"], .material-form .form-group input[type="email"], .material-form .form-group input[type="password"] {
	padding: 0.3em 0 0;
	background: none;
	border-bottom: 1px solid #A3A3A3;
	box-shadow: none;
	color: #333;
	border-radius: 0;
	font-size: 1.6em;
	height: 50px;
}
.material-form .form-group input:focus, .material-form .form-group input:active {
	outline: none;
	box-shadow: none;
	background: none;
	border-bottom-color: #F8CB4B;
}
.material-form .form-group input[type="text"], .material-form .form-group input[type="email"], .material-form .form-group input[type="password"] {
	border-width: 0 0 1px 0;
}
.material-form .form-group input[type="text"]:active {
	color: #fff;
}
.material-form .form-group label {
	font-size: 1.6em;
	position: absolute;
	top: 0.5em;
	left: 0;
	pointer-events: none;
	color: #999;
	-webkit-transition: all 0.15s ease-out 0s;
	-moz-transition: all 0.15s ease-out 0s;
	-o-transition: all 0.15s ease-out 0s;
	transition: all 0.15s ease-out 0s;
	font-weight: 300;
}
.material-form .form-group input[type="text"]:focus + label, .material-form .form-group input[type="text"].has-content + label,
.material-form .form-group input[type="email"]:focus + label, .material-form .form-group input[type="email"].has-content + label,
.material-form .form-group input[type="password"]:focus + label, .material-form .form-group input[type="password"].has-content + label {
	top: -1em;
	font-size: 0.8em;
	color: #A3A3A3;
}

.form-horizontal {
	margin-top: 3em;
}
.control-label {
	font-size: 18px;
	font-weight: 200;
	padding: 1em 0 0.3em;
}
.form-control {
	border-radius: 0;
	border: 0;
	border-left: 2px solid #ccc;
	border-top: 2px solid #CCC;
}
.input-group-addon {
	border-radius: 0;
}

.form-control:focus {
	border-color: #CCC;
	box-shadow: none;
}
/*
	Header
*/	

.page-header {
	margin: 0;
	height: 70px;
	background-color: rgb(253, 253, 253);
}
.title, .main-title {
	padding-right: 1em;
}
.main-title {
	padding-left: 1em;
}
.backarrow + .title {
	padding-left: 0;
}
.back-arrow {
	height: 70px;
	width: 70px;
	display: block;
	float: left;
	text-align: center;
}
.page-header h3 {
	margin: 0;
	line-height: 70px;
	vertical-align: middle;
}
.page-header .fa-arrow-left {
	color: #F8CB4B;
}


/*
	Colors
*/

.color-list {
	padding-top: 15px;
}
.color-list .item .color-meta .color-space {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 8px;
}
.color-list .item .color-meta .color-space h4 {
	font-weight: 400;
	font-size: 14px;
	margin: 6px;
}
.color-list .item .color-meta h4:nth-child(1) {
	top: 14px;
}
.color-list .item .color-meta h4:nth-child(2) {
	top: 28px;
}
.color-list .item .color-meta h4:nth-child(3) {
	top: 36px;
}
.color-list .item .color-meta .controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}
.color-list .item{
	width: 100%;
	float: left;
	height: 130px;
	padding: 10px;
	position: relative;
}
.color-list .item .color{
	width: 100%;
	height: 100%;
}
.color-match .item{
	width: 100%;
	float: left;
	height: 80px;
}
.color-match .item .color{
	width: 100%;
	height: 100%;
}
@media screen and (min-width: 768px) {
	.color-list .item{
		width: 25%;
	}
	.color-list .item .color-meta {
		height: 0;
		overflow: hidden;
		position: relative;
	}
	.color-list .item:hover .color-meta{
		height: 100%;
	}
}

/*
	Images
*/
.images {
	margin: 0.5em;
}
.image {
	margin: 1em;
	background-color: white;
	display: block;
}
.img-wrap {
	width: 100%;
}
.img-wrap img {
	max-width: 100%;
	width: auto;
	text-align: center;
}
.image-thumb {
	max-width: 100%;
	text-align: center;
	display: block;
	margin: auto;
}
.images .item {
	width: 100%;
}
@media screen and (min-width: 768px) {
	.images .item{
		width: 33%;
	}
}
@media screen and (min-width: 992px) {
	.images .item{
		width: 25%;
	}
}

/*
	Links
*/

.links {
	margin: 0.5em;
}
.grid .links .item{
	width: 100%;
}
.grid .link {
	margin: 0.8em;
	background-color: white;
	display: block;
	border-radius: 0.3em;
	overflow: hidden;
	border: 1px solid 1px solid #DDD;
}
.grid .link-thumb {
	width: 100%;
}
.grid .link-meta {
	padding: 0 1em 0.8em 1em;
}
.grid .link-meta a {
	color: #F8CB4B;
}
.grid .link-title {
	font-size: 1.2em;
	font-weight: 400;
}
.grid .link-desc {
	font-weight: 200;
}
.grid .list-control {
	color: #8C989E;
	font-size: 0.7em;
}
.grid .list-control a {
	color: #8C989E;
	font-size: 1.4em;
	padding: 0;
}
@media screen and (min-width: 768px) {
	.links .item{
		width: 33%;
	}
}
@media screen and (min-width: 992px) {
	.links .item{
		width: 25%;
	}
}

/*
	Notes
*/
.notes {
	margin: 1.5em 0.5em;
}
.note {
	background-color: white;
	display: block;
	padding: 1em;
	color: #333;
	height: 250px;
	position: relative;
	width: 100%;
	margin-bottom: 2em;
}
.notes a.item:hover, .notes a.item:active, .notes a.item:focus {
	text-decoration: none;
}
.note .controls {
	position: absolute;
	bottom: 1em;
	color: #8C989E;
}
.lead {
	font-size: 1.1em;
}
.notepad {
	background: white;
	margin: 3em 0;
	position: relative;
}
.notepad .form-horizontal .form-group {
	margin: 0;
}
.notepad .title {
	font-size: 1.2em;
	font-weight: 500;
	width: 100%;
	padding: 6px 12px;
}
.note-title {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.note-desc {
	height: 158px;
	overflow: hidden;
}
.notepad input, .notepad textarea, .notepad input:focus, .notepad textarea:focus {
	border: 0;
	box-shadow: none;
}
.notepad .btn-yellow {
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0
}


/*
	Todos
*/

.todo-list {
	margin: 1em 0;
}
.todo-list .item {
	width: 25%;
	float: left;
	padding: 10px;
}
.todo-list .item .todo {
	width: 100%;
	padding: 1em;
	-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1),0 2px 5px 0 rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1),0 2px 5px 0 rgba(0, 0, 0, 0.13);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1),0 2px 5px 0 rgba(0, 0, 0, 0.13);
}
.todo .controls {
	font-size: 0.8em;
}
.todo h4 {
	margin-top: 0;
}
.filter h5 {
	line-height: 70px;
	vertical-align: middle;
	margin: 0 2em 0 0;
}
.filter h5 a {
	border: 1px solid #F8CB4B;
	padding: 0.25em 1em;
	color: #F8CB4B;
	border-radius: 1em;
	text-decoration: none;
}
.filter h5 a:hover {
	text-decoration: none;
	color: #F8CB4B;
}
.priority-0 {
	background-color: rgb(255, 255, 255);
}
.priority-1, .priority- {
	background-color: rgb(255, 255, 182);
}
.priority-2 {
	background-color: rgb(169, 247, 169);
}
.priority-3 {
	background-color: rgb(184, 225, 250);
}
.priority-4 {
	background-color: rgb(255, 210, 128);
}
.priority-5{
	background-color: rgb(255, 184, 184);
}
.sticky-post {
	-webkit-box-shadow: 0 6px 10px rgba(0,0,0,0.23), 0 10px 30px rgba(0,0,0,0.19);
	-moz-box-shadow: 0 6px 10px rgba(0,0,0,0.23), 0 10px 30px rgba(0,0,0,0.19);
	-o-box-shadow: 0 6px 10px rgba(0,0,0,0.23), 0 10px 30px rgba(0,0,0,0.19);
	box-shadow: 0 6px 10px rgba(0,0,0,0.23), 0 10px 30px rgba(0,0,0,0.19);
}
.sticky-post.form-horizontal .form-group {
	margin: 15px;
}

.user-nav  {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #2e353b;
    color: white;
}
.alert-warning {
	background-image: none;
	width: 96%;
	margin: auto;
}


.paper {
	background-color: #DADDE4;
}
.logo, .nav > li.logo > a:hover, .nav > li.logo > a:focus {
	background-color: #F8CB4B;
}
.logo > a {
	color: #2e353b;
}
.dropdown-menu {
	background-color: #3e474f;
}
.dropdown-menu > li > a {
	color: #8C989E;
}
.dropdown-menu .divider {
	background-color: #4F4F4F;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #3e474f;
	background-image: none;
	color: #F8CB4B;
}
.sidebar .nav.user-nav > li > a {
	padding-top: 18px;
	padding-bottom: 18px;
}
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-bottom: 0;
}

.signin {
	padding: 0 0 1em 0;
	background-color: white;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
}
.signin .form-group {
	margin: 15px;
}
.signin .form-control {
	margin-bottom: 0.5em;
}
.form-header {
	text-align: center;
	font-size: 1.2em;
	background-color: #FAFAFA;
	margin-bottom: 0.5em;
	text-transform: uppercase;
	padding: 0.5em;
}
.form-footer {
	padding-left: 15px;
	padding-top: 15px;
}
.form-footer a, .form-footer a:hover, .form-footer a:active, .form-footer a:focus {
	text-decoration: none;
}

.home {
	height: 100%;
	width: 100%;
	position: relative;
	color: white;
}
.home h1 {
	padding-top: 3em;
	font-weight: 200;
	font-size: 3.5em;
}
.home h2 {
	font-weight: 100;
}
.home-bg {
	height: 100%;
	width: 100%;
	background-size: 100%;
	background-size: cover;
	background-image: url('/modules/core/img/background/bg.jpg');
	margin-bottom: -100%;
	position: absolute;
	opacity: 0.3;
}
.home-masthead {
	z-index: 2;
	position: relative;
	height: 100%;
}
.home-features h2 {
	padding-top: 2em;
}
.features-main
{
	font-size: 1.5em;
	font-weight: 200;
	padding: 2em 10em 4em 10em;
}
.login-btn {
	padding: 3em;
}
.login-btn .btn {
	background-color: transparent;
	border: 2px solid white;
	border-radius: 1.5em;
	color: white;
	font-size: 1.5em;
	padding: 0.25em 2em;
	font-weight: 200;
	margin: 0.5em;
}
.login-btn .btn:hover {
	background-color: white;
	color: #F8CB4B;
}
.source-btn {
	padding-bottom: 6em;
	text-align: center;
}
.source-btn .btn {
	background-color: #333;
	border: 2px solid #333;
	border-radius: 1.5em;
	color: white;
	font-size: 1.5em;
	padding: 0.25em 2em;
	font-weight: 200;
	margin: 0.5em;
}
.source-btn .btn:hover {
	background-color: #F8CB4B;
	border-color: #F8CB4B;
	color: #333;
}
.scroll-arrow {
	bottom: 2em;
	position: absolute;
	left: 0;
	right: 0;
}
.feature-container {
	width: 100%;
	position: relative;
	clear: both;
	overflow: hidden;
	margin-bottom: 5em;
	border-bottom: 1px solid white;
}
.feature-container img {
	width: 80%;
	box-shadow: 0 -1.5px 5px rgba(0,0,0,0.1);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin-top: 5px;
}
.feature-container > .col-sm-6:first-child > img {
	float: right;
}
.feature-container > .col-sm-5:first-child ul, .feature-container > .col-sm-5:first-child h3 {
	text-align: right;
}
.feature-container > .col-sm-6:nth-child(2) > img {
	float: left;
}
.feature-container > .col-sm-6:nth-child(2) ul li {
	text-align: left;
}
.feature-container ul {
	padding-left: 0;
	list-style-type: none;
	font-size: 1.2em;
	font-weight: 200;
}


