<section data-ng-controller="TodosController" data-ng-init="find()">
	<div class="page-header">
		<h3>
			<span class="main-title">Todo</span><a href="/#!/todos/create" class="btn btn-yellow material"><i class="fa fa-plus"></i>&nbsp;&nbsp;add</a>
			
			<div class="pull-right filter">
				<h5>Sort by:&nbsp;&nbsp;&nbsp;<a href="" ng-click="predicate='priority'; reverse=true">Priority</a>&nbsp;&nbsp;&nbsp;<a href="" ng-click="predicate='created'; reverse=true">Date</a></h5>
			</div>
		</h3>
	</div>
	<div class="container">
		<div class="row">
			<div masonry class="todo-list">
				<div data-ng-repeat="todo in todos | filter: {'done':'false'} | orderBy:predicate:reverse" class="item masonry-brick">
					<div class="todo priority-{{todo.priority}}">
						<h4>
							<a data-ng-show="authentication.user._id == todo.user._id" ng-click="finishTask(todo)"><i class="fa fa-square-o"></i></a>
							<span class="list-group-item-heading" data-ng-bind="todo.task"></span>
						</h4>
						<p>{{todo.content}}</p>

						<div class="controls" data-ng-show="authentication.user._id == todo.user._id">
							<span data-ng-bind="todo.created | date:'mediumDate'"></span>

							<span class="pull-right">
								<a href="/#!/todos/{{todo._id}}/edit"><i class="glyphicon glyphicon-edit"></i></a>
								<a data-ng-click="remove(todo);"><i class="glyphicon glyphicon-trash"></i></a>
							</span>
						</div>
						
					</div>
				</div>
			</div>
			<div class="alert alert-warning text-center" data-ng-if="todos.$resolved && !todos.length">
				No todos yet, why don't you <a href="/#!/todos/create">create one</a>?
			</div>
		</div>
		<h3>Finished Tasks</h3>
		<div class="row">
			<div masonry class="todo-list">
				<div data-ng-repeat="todo in todos | filter: {'done':'true'}" class="masonry-brick item">
					<div class="todo priority-{{todo.priority}}">
						<h4>
							<a data-ng-show="authentication.user._id == todo.user._id" ng-click="finishTask(todo)"><i class="fa fa-check-square-o"></i></a>
							<span class="list-group-item-heading" data-ng-bind="todo.task"></span>
						</h4>
						<p>{{todo.content}}</p>

						<div data-ng-show="authentication.user._id == todo.user._id">
							<a href="/#!/todos/{{todo._id}}/edit"><i class="glyphicon glyphicon-edit"></i></a>
							<a data-ng-click="remove(todo);"><i class="glyphicon glyphicon-trash"></i></a>
							<span class="pull-right" data-ng-bind="todo.created | date:'mediumDate'"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>