<section data-ng-controller="ColorsController" data-ng-init="findOne()">
	<div class="page-header">
		<h3><a href="/#!/colors" class="back-arrow"><i class="fa fa-arrow-left"></i></a><span class="title">Edit Color</span></h3>
	</div>
	<div class="col-xs-8 col-xs-offset-2">
		<form name="colorForm" class="material-form form-horizontal" data-ng-submit="update(colorForm.$valid)" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error' : submitted && colorForm.color_value.$invalid}">
					<input name="color_value" type="text" data-ng-model="color.color_value" id="color_value" class="form-control has-content" required>
					<label class="control-label" for="color_value">Color Value</label>
					<div ng-show="submitted && colorForm.color_value.$invalid" class="help-block">
						<p ng-show="colorForm.color_value.$error.required" class="text-danger">color value is required</p>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-yellow material">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>

<script>
	// form floating label
	$('.material-form .form-group input').focusout(function() {		
		var inputContent = $(this).val();
		if ( inputContent !== '' ) {
			$(this).addClass('has-content');
		} else {
			$(this).removeClass('has-content');
		}
	});
</script>
