<section data-ng-controller="ColorsController" data-ng-init="find()">
	<div class="page-header">
		<h3>Colors <a href="/#!/colors/create" class="btn btn-yellow material"><i class="fa fa-plus"></i>&nbsp;&nbsp;add</a></h3>
	</div>

	<div class="col-xs-12">
		<div class="color-list">
			<div data-ng-repeat="color in colors" data-ng-href="#!/colors/{{color._id}}" class="item">
				<div class="color material" style="background-color: {{ color.hex }};">
					<div class="color-meta">
						<div ng-init="textColor = changeColorWithBg(color.rgb)">
							<div class="color-space">
								<h4 style="color: {{textColor}};">{{color.rgb}}</h4>
								<h4 style="color: {{textColor}};">{{color.hex}}</h4>
								<h4 style="color: {{textColor}};">{{color.hsl}}</h4>
							</div>
						
							<div class="controls" data-ng-show="authentication.user._id == color.user._id">
								<a class="btn" href="/#!/colors/{{color._id}}" style="color: {{textColor}};">
									<i class="fa fa-eye"></i>
								</a>
								<a class="btn" href="/#!/colors/{{color._id}}/edit" style="color: {{textColor}};">
									<i class="fa fa-edit"></i>
								</a>
								<a class="btn" data-ng-click="remove(color);" style="color: {{textColor}};">
									<i class="fa fa-trash"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="alert alert-warning text-center" data-ng-if="colors.$resolved && !colors.length">
			No colors yet, why don't you <a href="/#!/colors/create">create one</a>?
		</div>
	</div>
</section>