<section data-ng-controller="ColorsController" data-ng-init="findOne()">
	<div class="page-header">
		<h3>
			<a href="/#!/colors" class="back-arrow"><i class="fa fa-arrow-left"></i></a><span class="title">{{color.hex}}</span>
			<span data-ng-show="authentication.user._id == color.user._id">
				<a class="btn btn-yellow material" href="/#!/colors/{{color._id}}/edit">
					<i class="fa fa-edit"></i>
				</a>
				<a class="btn btn-yellow material" data-ng-click="remove();">
					<i class="fa fa-trash"></i>
				</a>
			</span>
		</h3>
	</div>
	
	<div class="row-fluid" style="background-color: {{ color.hex }};">
		<div class="container-fluid">
			<div class="col-xs-offset-5 col-xs-7 color-match" data-ng-init="find()">
			<a data-ng-repeat="color in colors" data-ng-href="#!/colors/{{color._id}}" class="item">
				<div class="color" style="background-color: {{ color.hex }};"></div>
			</a>
		</div>
		</div>
	</div>
</section>