<section data-ng-controller="LinksController" data-ng-init="find()">
	<div class="page-header">
		<h3><span class="main-title">Links</span><a href="/#!/links/create" class="btn btn-yellow material"><i class="fa fa-plus"></i>&nbsp;&nbsp;add</a></h3>
	</div>
	<div masonry class="links grid">
		<div data-ng-repeat="link in links" class="masonry-brick item">
			<div class="link">
				<img ng-show="link.thumbnail_url.length" class="link-thumb" src="{{link.thumbnail_url}}" alt="">
				<div class="link-meta">
					<h3 class="link-title">{{link.title}}</h3>
					<p class="link-desc" data-ng-bind="link.description"></p>
					<p><a href="{{link.url}}" target="_blank">Read more <i class="fa fa-caret-right"></i></a></p>
					<small class="list-control">
						<i class="fa fa-clock-o"></i>&nbsp;&nbsp;<span data-ng-bind="link.created | date:'mediumDate'"></span><a class="btn pull-right" data-ng-click="remove(link);"><i class="fa fa-trash"></i></a> 
					</small>
				</div>
			</div>
		</div>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="links.$resolved && !links.length">
		No links yet, why don't you <a href="/#!/links/create">create one</a>?
	</div>
</section>