<section data-ng-controller="LinksController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="link.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == link.user._id">
		<a class="btn btn-primary" href="/#!/links/{{link._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="link.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="link.user.displayName"></span>
			on
			<span data-ng-bind="link.linkbook"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="link.content"></p>
</section>