<section data-ng-controller="NotesController">
	<div class="page-header">
		<h3><a href="/#!/notes" class="back-arrow"><i class="fa fa-arrow-left"></i></a><span class="title">New Note</span></h3>
	</div>
	<div class="col-xs-8 col-xs-offset-2">
		<div class="notepad">
			<form name="noteForm" class="form-horizontal" data-ng-submit="create()" novalidate>
				<fieldset>
					<div class="form-group" ng-class="{ 'has-error': noteForm.title.$dirty && noteForm.title.$invalid }">
						<div class="controls">
							<input name="title" type="text" data-ng-model="title" id="title" class="title" class="form-control" placeholder="Title" required>
						</div>
					</div>
					<div class="form-group">
						<div class="controls">
							<textarea elastic name="content" data-ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
						</div>
					</div>
					<!-- <div class="form-group">
						<label class="control-label" for="notebook">Notebook</label>
						<div class="controls">
							<input name="notebook" type="text" data-ng-model="notebook" id="notebook" class="form-control" placeholder="Notebook" required>
						</div>
					</div> -->
					<div class="form-group">
						<button type="submit" class="btn btn-yellow material"><i class="fa fa-check"></i>&nbsp;&nbsp;Save</button>
					</div>
					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</section>