<section data-ng-controller="NotesController" data-ng-init="find()">
	<div class="page-header">
		<h3>Notes <a href="/#!/notes/create" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;&nbsp;add</a></h3>
	</div>
	<div class="list-group">
		<a data-ng-repeat="note in notes" data-ng-href="#!/notes/{{note._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="note.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="note.user.displayName"></span>
				on
				<span data-ng-bind="note.notebook"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="note.title"></h4>
			<p class="list-group-item-text" data-ng-bind="note.content"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="notes.$resolved && !notes.length">
		No notes yet, why don't you <a href="/#!/notes/create">create one</a>?
	</div>
</section>