<section data-ng-controller="ImagesController" data-ng-init="findOne()">
	<div class="page-header">
		<h3><a href="/#!/images" class="back-arrow"><i class="fa fa-arrow-left"></i></a><span class="title">Edit Image</span></h3>
	</div>
	<div class="col-xs-8 col-xs-offset-2">
		<form name="imageForm" class="material-form form-horizontal" data-ng-submit="update(imageForm.$valid)" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error' : submitted && imageForm.url.$invalid}">
					<input name="url" type="text" data-ng-model="image.url" id="url" class="form-control has-content" required>
					<label class="control-label" for="url">Image URL</label>
					<div ng-show="submitted && imageForm.url.$invalid" class="help-block">
						<p ng-show="imageForm.url.$error.required" class="text-danger">URL is required</p>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-yellow material">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>

<script>
	// form floating label
	$('.material-form .form-group input').focusout(function() {		
		var inputContent = $(this).val();
		if ( inputContent !== '' ) {
			$(this).addClass('has-content');
		} else {
			$(this).removeClass('has-content');
		}
	});
</script>