<section data-ng-controller="ImagesController" data-ng-init="find()">
	<div class="page-header">
		<h3><span class="main-title">Images</span><a href="/#!/images/create" class="btn btn-yellow material"><i class="fa fa-plus"></i>&nbsp;&nbsp;add</a></h3>
	</div>
	<div masonry class="images">
		<div data-ng-repeat="image in images track by $index" class="item masonry-brick">
			<a class="image material" data-ng-href="#!/images/{{image._id}}">
				<img class="image-thumb" src="{{image.resized_url}}" alt="{{image.url}}">
			</a>
		</div>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="images.$resolved && !images.length">
		No images yet, why don't you <a href="/#!/images/create">create one</a>?
	</div>
</section>